body{
    margin: 0;
    padding: 0;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.data{
    font-family: Ekkamai New;
    justify-content: left;
    align-items: left;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #353535;
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}

.about-text h2{
    color: white;
    font-family: Ekkamai New;
    font-size: 66px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: Ekkamai New;
    font-size: 18px;
    margin-bottom: 45px; 
}

.social img{
    padding: 10px;
    height: auto;;
    width: 60px;
}